.accordion-section {
  padding-inline: 40px;
  margin-block: 30px 40px;
  background: var(--bg-color);
  box-shadow: 0 2px 6px var(--shadow-color);

  &__top {
    margin-block: 0 10px;
  }

  &__title {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
  }

  &__item {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;

    &__title {
      cursor: pointer;
      color: var(--text-color);
      font-weight: 400;
      font-size: 16px;
    }

    &__desc {
      font-size: 14px;
      font-weight: 400;
      color: var(--text-color);
      margin: 0px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .accordion-section {
    &__item {
      font-size: 18px;
    }
  }
}
