.accordion-section {
  max-width: 1200px !important;
  padding-inline: 40px;
  margin-block: 20px 40px;
  background-color: #fffffe;

  &__top {
    margin-block: 0 10px;
  }

  &__title {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }

  &__item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;

    &__title {
      cursor: pointer;
      color: #0056ac;
      font-weight: 400;
      font-size: 16px;
    }

    &__desc {
      font-size: 14px;
      font-weight: 400;
      color: #000000;
      margin: 0px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .accordion-section {
    &__item {
      font-size: 18px;
    }
  }
}
