.features-section {
  margin-block: 30px 10px;

  &__top {
    border-bottom: 1px solid #b1b1b1;
    width: 100px !important;
    padding-block-end: 10px;
  }

  &__title {
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    color: #0056ac;
    margin: 0px !important;
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr;

    &__title {
    font-weight: 600;
    color: #0056ac;
    font-size: 14px;
    }
  }
}

@media screen and (min-width: 768px) {
  .features-section {
    &__title {
      font-size: 16px;
    }

    &__table {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        &__title {
        font-size: 16px;
        }
    }
  }
}
