.features-section {
  margin-block: 30px 10px;
  background: var(--bg-color);
  box-shadow: 0 2px 6px var(--shadow-color);

  &__top {
    border-bottom: 1px solid #b1b1b1;
    width: 100px !important;
    padding-block-end: 10px;
  }

  &__title {
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
    margin: 0px !important;
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-block: 20px 10px;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__title {
      font-weight: 600;
      color: var(--text-color);
      font-size: 14px;
      margin: 0px !important;
    }

    &__desc {
      font-weight: 400;
      color: var(--text-color);
      font-size: 12px;
      margin: 0px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .features-section {
    &__title {
      font-size: 16px;
    }

    &__table {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      &__title {
        font-size: 16px;
      }

      &__desc {
        font-size: 14px;
      }
    }
  }
}
