.header-section {
  width: 100%;
  background: var(--bg-color);
  box-shadow: 0 4px 6px rgb(0 0 0 / 8%); 
  position: sticky;
  top: 0;
  z-index: 50;

  &__logo {
    width: 100px !important;
    height: 60px !important;

    &__img {
      width: 100% !important;
      height: 100% !important;
      object-fit: contain;
    }
  }

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 7px 10px;
  }

  &__links {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    &__title {
      text-decoration: none;
      color: var(--text-color);
      transition: 0.2s;
      font-weight: 400;
      font-size: 14px;

      &:hover {
        color: #0b74de;
      }
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      flex-direction: column;
      background: var(--menu-bg);
      padding: 1.5rem 1rem;
      transform: translateY(-200%);
      transition: transform 0.3s ease;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

      &.active {
        transform: translateY(0);
        margin-block: 40px 0px;
      }

      li {
        padding: 0.5rem 0;
      }
    }
  }

  &__extras {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.9rem;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }

    &__icon {
      font-size: 25px;
      color: var(--text-color);
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
  color: var(--text-color);

  @media (max-width: 768px) {
    font-size: 22px;
  }
}

@media screen and (min-width: 992px) {
  .header-section {
    &__logo {
      width: 160px !important;
      height: 90px !important;
    }

    &__links {
      &__title {
        font-size: 16px;
      }
    }
  }
}
