.hero-container {
  max-width: 1200px !important;
  padding-inline: 40px;
  margin-block: 20px 10px;
  background-color: #fffffe;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block: 0px 20px;
  }

  &__title {
    margin: 0px !important;
    background: linear-gradient(90deg, #0056ac, #7bdcff, #0b74de);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 20px;
  }

  &__desc {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }

  &__prd {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 15px 10px;
    border: 2px solid #ebebeb;

    &__figure {
      width: 100%;
      height: 400px;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__top {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__title {
      color: #000000;
      font-weight: 700;
      font-size: 18px;
      margin: 0px !important;
    }

    &__desc {
      color: #000000;
      font-weight: 400;
      font-size: 18px;
      margin: 0px !important;
    }

    &__info {
      margin-block: 10px 0px;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    &__prd {
      flex-direction: row;
      gap: 20px;
      align-items: center;

      &__figure {
        width: 400px;
        height: 400px;
      }

      &__info {
        flex: 1;
      }
    }
  }
}
