.pricing-section {
  max-width: 1200px !important;
  padding-inline: 40px;
  margin-block: 20px 10px;
  background-color: #fffffe;

  &__table {
    display: grid;
    grid-template-columns: (1fr);
    padding: 20px;
    border-radius: 10px;
    gap: 15px;
  }

  &__item {
     background-color: #fffffe;
     padding: 5px 7px;

     &__title {
      color: #000000;
      font-weight: 700;
      font-size: 18px;
      margin: 0px !important;
     }
  }
}

@media screen and (min-width: 768px) {
  .pricing-section {
    &__table {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}