.pricing-section {
  padding-inline: 40px;
  margin-block: 30px 10px;
  background: var(--bg-color);
  box-shadow: 0 2px 6px var(--shadow-color);

  &__table {
    display: grid;
    grid-template-columns: (1fr);
    border-radius: 10px;
    gap: 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: var(--text-color);
  }

  &__item {
    background: var(--bg-color);
    padding: 16px;
    border: 1px solid #cecece;
    border-radius: 10px;

    &:hover {
      border: 1px solid #0056ac;
    }

    &__info {
      list-style: none !important;
      padding: 0px !important;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &__txt {
      color: var(--text-color);
      font-weight: 500;
      font-size: 14px;
    }

    &__title {
      color: var(--text-color);
      font-weight: 700;
      font-size: 18px;
      margin: 0px !important;
    }

    &__price {
      font-size: 18px;
      font-weight: 700;
      color: var(--text-color);
      margin: 7px 0px;
    }

    &__btn {
      background-color: #0056ac;
      border: none !important;
      color: #fffffe;
      font-weight: 400;
      font-size: 14px;
      border-radius: 30px;
      padding: 10px 20px;
      cursor: pointer;
      min-width: 100px !important;

      &:hover {
        background-color: #004ddc;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .pricing-section {
    &__table {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      &__btn {
        min-width: 130px !important;
      }
    }
  }
}
